[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://github.com/jcf/vim-latex.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/surrond"]
	path = bundle/surrond
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/neoclang"]
	path = bundle/neoclang
	url = https://github.com/osyo-manga/neocomplcache-clang_complete.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule "bundle/sudo"]
	path = bundle/sudo
	url = https://github.com/chrisbra/SudoEdit.vim.git
[submodule "bundle/js"]
	path = bundle/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/ejs"]
	path = bundle/ejs
	url = https://github.com/briancollins/vim-jst.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
